body{
  background: linear-gradient(#89f7fe,midnightblue);
    
}
h2{
  text-align: center;
  font-family:"Poppins", sans-serif;
  margin-top: 30px;
  color: midnightblue;
  font-weight: 700;
  font-style: italic;
  font-size: 4em;
}
table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 50px  auto;
    background-color: #ffff;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  
 table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:midnightblue;
    color: white;
  }
  .search{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color: black;
    
    
    
  }
  .searchname{
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 30px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.datetime{
  margin:0 auto 50px  auto;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: white;
}
.reset{
  text-align: center;
  padding: 5px 18px;
  border-radius: 5px;
}
@media(max-width:992px){
  .search{
    width: 100%;
    font-size: 12px;
    
  }
  h2{
    font-size: 3em;
  }
  table td, table th{
    font-size: 12px;
  }
  .searchname{
    margin-right: 15px;
  }
}
